<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style type="text/css">
    .size1{  font-size: 14px;  }
    .size2{  font-size: 20px;  }
    .size3{  font-size: 24px;  }
</style>


</head>
<body>
<div class="container" >
    <div>
        <p class="size3">Available search types:</p>
        <ul class="size1">
            <li><b><a href="#" >Text & 2D Sketch</a></b><br>
            one or more keywords and/or 1/2/3 simple outline sketches<br>
            <li><b> <a href="#">Text & 3D Sketch</a></b><br>
            one or more keywords and/or a single 3D sketch
            <li><b> <a href="#"> File Compare</a></b><br>
            upload your own 3D model file
            <li><b>Find Similar Shape</b><br>
            click the link below a search result
        </ul>
    </div>
    <div>
        <p class="size3">Available datasets:</p>
        <ul class="size1">
            <li><b>Free Models</b><br />
           ~ 31000 models downloaded from the Web
          <li><b>Viewpoint Models</b><br>
          ~ 2000 commercial models
          <li><b>De Espona Models</b><br>
          ~ 1000 commercial models
          <li><b>Cacheforce Models</b><br>
          ~ 2000 commercial models
          <li><b>All Models</b><br>
          All of the above
           </li>
            </ul>
    </div>

</div>

</body>
</html>